body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section {
    min-height: 500px;
    padding: 100px 0;

}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Mono', monospace;
    line-height: 1.125;
}
h1 {
    font-size: 3rem;
}
p, a {
    font-family: 'Poppins', sans-serif;
}
p{
    color: dimgray;
    padding: 1rem 0;
}
a {
    text-decoration: none;
    color: #7510F7;
    font-size: 18px;
}



/* hero sector start */
.hero-sector {
    background-image: url("/images/top-banner.png");
    background-repeat: no-repeat;
}
.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    
}
.half-width img {
    width: 100%;
}
.highlight {
    color: #7510F7;
}
.btn {
    background-color: transparent;
    border: 2px solid #7510F7;
    border-radius: 15px;
    padding: 0.5rem 1rem ;
    transition: all 0.2s ease-in-out;
    font-weight: 400;
}
.btn:hover {
    background-color: #7510F7;
    color: #fff;
}
/* hero sector end */